openapi: 3.1.0
info:
  title: Slash Public Account .well Known API
  description: API description
  version: 0.0.1
  contact: {}
servers:
- url: https://api.slash.com
  description: production
security:
- api_key: []
- partner_api_key: []
- bearer: []
- developer_application: []
tags:
- name: .well Known
paths:
  /.well-known/openid-configuration:
    x-reference-path: paths/.well-known/openid-configuration/route.yaml
    get:
      description: Get OpenID Configuration
      tags:
      - .well Known
      security:
      - {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization_endpoint:
                    type: string
                  token_endpoint:
                    type: string
                  userinfo_endpoint:
                    type: string
                  token_endpoint_auth_methods_supported:
                    type: array
                    description: If omitted, the default is client_secret_basic
                    items:
                      type: string
                      enum:
                      - client_secret_post
                      - client_secret_basic
                      - client_secret_jwt
                      - private_key_jwt
                  response_types_supported:
                    type: array
                    items:
                      type: string
                      enum:
                      - code
                      - token
                      - id_token token
                  scopes_supported:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeveloperApplicationScope'
                      x-entrypoint:
                        virtualPath: schemas/DeveloperApplicationScope
                        sourcePath: schemas/DeveloperApplicationScope.yaml
                        title: DeveloperApplicationScope
                        origin: ./src/publicApi
                required:
                - authorization_endpoint
                - token_endpoint
                - userinfo_endpoint
                - response_types_supported
                - scopes_supported
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: TooManyRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        name:
          type: string
        identifier:
          type: string
        rawStatus:
          type: number
        meta:
          type: object
          additionalProperties: true
      required:
      - message
      - name
      - identifier
      - rawStatus
      x-entrypoint:
        origin: ./src/publicApi
        sourcePath: ./src/publicApi/main.yaml
        title: Error
        virtualPath: components/Error
      title: Error
    DeveloperApplicationScope:
      type: string
      enum:
      - openid
      - offline_access
      - profile
      - email
      - address
      - phone
      - user.identity.view
      x-entrypoint:
        virtualPath: schemas/DeveloperApplicationScope
        sourcePath: schemas/DeveloperApplicationScope.yaml
        title: DeveloperApplicationScope
        origin: ./src/publicApi
      title: DeveloperApplicationScope
  securitySchemes:
    api_key:
      type: apiKey
      description: "API key authentication for public API requests.\n\nKeys come in two flavors:\n\n- *Legal-entity-scoped keys* are pinned to a single legal entity.\n  Minted via the dashboard under a specific entity; every request\n  acts on that entity.\n- *User-scoped keys* are pinned to a user and span every legal\n  entity that user has access to. Every request made with a\n  user-scoped key (except `GET /legal-entity`, which lists the\n  legal entities the user can access) must include an\n  `x-legal-entity` header naming the legal entity the request is\n  operating on. Requests without the header are rejected with\n  `400`. The authenticated user must have an active permission\n  role on the supplied legal entity, otherwise the request is\n  rejected with `403`.\n"
      name: X-API-Key
      in: header
    partner_api_key:
      type: apiKey
      description: 'Partner-program API key authentication.


        Keys are minted in the partner dashboard (Developers → API Keys),

        are scoped to a single partner program, and are prefixed with

        `sk_partner_`. Partner keys are only accepted by routes that

        declare this scheme; they are rejected by `api_key` routes and

        vice versa.

        '
      name: X-API-Key
      in: header
    bearer:
      type: http
      scheme: bearer
    developer_application:
      type: http
      scheme: basic
