{
  "openapi": "3.1.0",
  "info": {
    "title": "Slash Public API",
    "description": "API description",
    "version": "0.0.1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.slash.com",
      "description": "production"
    }
  ],
  "components": {
    "schemas": {
      "AuthorizationRequestEvent": {
        "type": "object",
        "description": "Card authorization request webhook event payload",
        "properties": {
          "event": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authorization.request"
                ]
              },
              "id": {
                "type": "string",
                "description": "The ID of the event"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "data": {
            "type": "object",
            "description": "The authorization request event data",
            "properties": {
              "transaction": {
                "type": "object",
                "description": "Transaction details for the authorization request",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier of the provider authorization id. This is the same as the `providerAuthorizationId` field in the `Transaction` object."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO string for the timestamp of the transaction"
                  }
                },
                "required": [
                  "id",
                  "timestamp"
                ]
              },
              "card": {
                "type": "object",
                "description": "Card information for the authorization request",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the card"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name associated with the card"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "account": {
                "type": "object",
                "description": "Account information for the authorization request",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the account"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the account"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              },
              "virtualAccount": {
                "type": "object",
                "description": "Virtual account information for the authorization request",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the virtual account"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the virtual account"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              },
              "merchant": {
                "type": "object",
                "description": "Merchant information for the transaction",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the merchant"
                  },
                  "categoryCode": {
                    "type": "string",
                    "description": "Merchant category code (MCC)"
                  },
                  "location": {
                    "type": "object",
                    "description": "Merchant location information",
                    "properties": {
                      "city": {
                        "type": "string",
                        "description": "City where the merchant is located"
                      },
                      "state": {
                        "type": "string",
                        "description": "State/province where the merchant is located"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country where the merchant is located",
                        "format": "iso-3166-1-alpha-2",
                        "example": "US"
                      },
                      "zip": {
                        "type": "string",
                        "description": "ZIP/postal code where the merchant is located"
                      }
                    },
                    "required": [
                      "country"
                    ]
                  }
                },
                "required": [
                  "name",
                  "categoryCode",
                  "location"
                ]
              },
              "amount": {
                "$ref": "#/components/schemas/Money",
                "description": "Transaction amount",
                "x-entrypoint": {
                  "virtualPath": "schemas/Money",
                  "sourcePath": "schemas/Money.yaml",
                  "title": "Money",
                  "origin": "./src/publicApi"
                }
              },
              "currencyConversion": {
                "type": "object",
                "description": "Currency conversion details if applicable",
                "properties": {
                  "conversionRate": {
                    "type": "number",
                    "description": "The exchange rate used for currency conversion"
                  },
                  "originalAmountCents": {
                    "type": "integer",
                    "description": "The original transaction amount in cents before conversion"
                  },
                  "originalCurrencyCode": {
                    "type": "string",
                    "description": "The original currency code before conversion"
                  }
                },
                "required": [
                  "conversionRate",
                  "originalAmountCents",
                  "originalCurrencyCode"
                ]
              }
            },
            "required": [
              "transaction",
              "card",
              "merchant",
              "amount",
              "account",
              "virtualAccount"
            ]
          }
        },
        "required": [
          "event",
          "data"
        ],
        "x-entrypoint": {
          "origin": "./src/publicApi",
          "sourcePath": "./src/publicApi/main.yaml",
          "title": "AuthorizationRequestEvent",
          "virtualPath": "components/AuthorizationRequestEvent"
        },
        "title": "AuthorizationRequestEvent"
      },
      "AuthorizationWebhookResponse": {
        "type": "object",
        "description": "Response format for authorization webhook requests",
        "properties": {
          "approved": {
            "type": "boolean",
            "description": "Whether the transaction is approved or declined"
          },
          "reason": {
            "type": "string",
            "description": "Optional reason for the authorization decision"
          }
        },
        "required": [
          "approved"
        ],
        "x-entrypoint": {
          "origin": "./src/publicApi",
          "sourcePath": "./src/publicApi/main.yaml",
          "title": "AuthorizationWebhookResponse",
          "virtualPath": "components/AuthorizationWebhookResponse"
        },
        "title": "AuthorizationWebhookResponse"
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "rawStatus": {
            "type": "number"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "message",
          "name",
          "identifier",
          "rawStatus"
        ],
        "x-entrypoint": {
          "origin": "./src/publicApi",
          "sourcePath": "./src/publicApi/main.yaml",
          "title": "Error",
          "virtualPath": "components/Error"
        },
        "title": "Error"
      },
      "PartnerError": {
        "type": "object",
        "description": "Error response returned by the Slash Partners (`/partner-program/*`)\nAPI. Always includes a stable, machine-readable `code` and a\n`reference_id` for support correlation, in addition to a\nhuman-readable `message`.\n",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable, machine-readable error code. Branch on this rather than\nparsing `message`. Unexpected server-side failures use\n`internal_error`.\n",
            "enum": [
              "missing_api_key",
              "invalid_api_key",
              "api_key_wrong_scope",
              "invalid_request",
              "missing_idempotency_key",
              "invalid_idempotency_key",
              "idempotency_key_conflict",
              "unsupported_currency",
              "invalid_amount",
              "no_approved_transaction_details",
              "transaction_details_mismatch",
              "source_account_not_linked",
              "destination_account_not_found",
              "destination_account_closed",
              "invalid_destination",
              "destination_account_not_owned",
              "transfer_not_found",
              "feature_not_enabled",
              "internal_error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the failure. For known client-side\nerrors this is actionable; for unexpected failures it is generic\nand accompanied by `reference_id`.\n"
          },
          "reference_id": {
            "type": "string",
            "description": "Opaque identifier for this specific failure. Include it when\ncontacting Slash support to correlate the request server-side.\n"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "rawStatus": {
            "type": "number"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "code",
          "message",
          "reference_id",
          "name",
          "identifier",
          "rawStatus"
        ],
        "x-entrypoint": {
          "origin": "./src/publicApi",
          "sourcePath": "./src/publicApi/main.yaml",
          "title": "PartnerError",
          "virtualPath": "components/PartnerError"
        },
        "title": "PartnerError"
      },
      "WebhookEvent": {
        "type": "object",
        "description": "A webhook event is sent when an entity in our system changes state. Webhook events contain metadata about the change (entity ID, event type, event ID) but do not include the actual entity data.\n\nTo get the current state of the entity that triggered the webhook, you must fetch it from the corresponding GET endpoint using the entityId. We send webhooks asynchronously, so by fetching the entity data separately, you always have the most up-to-date information from a single source of truth.\n",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "The id of the entity that triggered the event"
          },
          "event": {
            "type": "string",
            "enum": [
              "card.update",
              "card.delete",
              "card_creation.event",
              "aggregated_transaction.create",
              "aggregated_transaction.update",
              "expense_report.create",
              "expense_report.update"
            ]
          },
          "eventId": {
            "type": "string",
            "description": "The id of the event that was triggered"
          }
        },
        "required": [
          "entityId",
          "event",
          "eventId"
        ],
        "x-entrypoint": {
          "origin": "./src/publicApi",
          "sourcePath": "./src/publicApi/main.yaml",
          "title": "WebhookEvent",
          "virtualPath": "components/WebhookEvent"
        },
        "title": "WebhookEvent"
      },
      "AgentRequest": {
        "type": "object",
        "description": "A pending or completed agent request",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the agent request"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "expired",
              "executed",
              "failed",
              "running"
            ],
            "description": "Current status of the request"
          },
          "display": {
            "type": "object",
            "description": "Human-readable display information",
            "properties": {
              "title": {
                "type": "string",
                "description": "A brief title describing the action"
              },
              "description": {
                "type": "string",
                "description": "Detailed description of what the action will do"
              },
              "sections": {
                "type": "array",
                "description": "Key-value details about the request",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "value": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "oldValue": {
                              "type": "string"
                            },
                            "newValue": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "newValue"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "title",
              "sections"
            ]
          },
          "result": {
            "type": "object",
            "description": "The result of the executed action. Only present when status is \"executed\".",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the request was created"
          }
        },
        "required": [
          "id",
          "status",
          "display",
          "createdAt"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/AgentRequest",
          "sourcePath": "schemas/AgentRequest.yaml",
          "title": "AgentRequest",
          "origin": "./src/publicApi"
        },
        "title": "AgentRequest"
      },
      "Pagination.PaginationResponse": {
        "type": "object",
        "description": "Response sent when requesting a list of data",
        "properties": {
          "nextCursor": {
            "type": "string",
            "description": "The cursor to use to retrieve the next page of data. If this is not sent, there is no more data to retrieve."
          },
          "count": {
            "type": "number",
            "description": "The number of items in the current page of data."
          }
        },
        "x-entrypoint": {
          "virtualPath": "schemas/Pagination/PaginationResponse",
          "sourcePath": "schemas/Pagination/PaginationResponse.yaml",
          "title": "PaginationResponse",
          "origin": "./src/publicApi"
        },
        "title": "PaginationResponse"
      },
      "LegalEntity": {
        "type": "object",
        "description": "A legal entity is an entity (either a person or a business) that can own accounts.\nIf you are using the API with an API key, your API key will only be associated with one legal entity, so you will not need to specify the legal entity ID in most endpoints.\nIf you are using the API with an OAuth2 access token, you can filter the results of most endpoints to only show data for a specific legal entity by specifying the legal entity ID in the URL.\n",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "structure": {
            "type": "string",
            "description": "Will be empty in rare cases where the legal entity has not yet been fully created.",
            "enum": [
              "person",
              "llc",
              "lp",
              "llp",
              "gp",
              "partnership",
              "cooperative",
              "ccorp",
              "scorp",
              "other"
            ]
          }
        },
        "required": [
          "id",
          "name"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/LegalEntity",
          "sourcePath": "schemas/LegalEntity.yaml",
          "title": "LegalEntity",
          "origin": "./src/publicApi"
        },
        "title": "LegalEntity"
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed"
            ]
          },
          "name": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "description": "The type of account. - \"debit\" represents a debit card account - \"charge_card\" represents a charge card account",
            "enum": [
              "debit",
              "charge_card"
            ]
          },
          "balances": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The balances on the account. See the Balance object for more details.\n",
              "enum": [
                "debit",
                "cash",
                "credit"
              ]
            }
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "accountNumber",
          "routingNumber",
          "createdAt",
          "balances"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Account",
          "sourcePath": "schemas/Account.yaml",
          "title": "Account",
          "origin": "./src/publicApi"
        },
        "title": "Account"
      },
      "Balance": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The ID of the account associated with the balance."
          },
          "type": {
            "type": "string",
            "description": "The type of balance.\n- \"cash\" represents the excess balance not used as collateral for the charge card. Not applicable to debit accounts.\n- \"credit\" represents the balance that can be spent on the charge card. Not applicable to debit accounts.\n- \"debit\" represents the balance that can be spent or withdrawn. Not applicable to charge card accounts.\n",
            "enum": [
              "cash",
              "credit",
              "debit"
            ]
          },
          "available": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money",
                "x-entrypoint": {
                  "virtualPath": "schemas/Money",
                  "sourcePath": "schemas/Money.yaml",
                  "title": "Money",
                  "origin": "./src/publicApi"
                }
              },
              {
                "description": "The amount of money that is immediately available to use. \n- For \"credit\" balances, this is the immediately available amount that can be spent on the charge card.\n- For \"cash\" balances, this value represents the immediately available excess cash that is not being used as collateral for the charge card. You can choose to transfer more than these funds to your bank account, but any amount not coverable by the available balance will be removed from the charge card's collateral balance (the \"credit\" balance).\n- For \"debit\" balances, this is the amount of money available that can be spent or withdrawn immediately.\n"
              }
            ]
          },
          "posted": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money",
                "x-entrypoint": {
                  "virtualPath": "schemas/Money",
                  "sourcePath": "schemas/Money.yaml",
                  "title": "Money",
                  "origin": "./src/publicApi"
                }
              },
              {
                "description": "The amount of money that has been posted to the account. This value does not include any pending transactions and instead represents the amount of money that has been posted to the balance.\n"
              }
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The UTC timestamp associated with the balance. Since the balance can change rapidly, the timestamp is included to indicate the time when the balance was computed."
          }
        },
        "required": [
          "accountId",
          "type",
          "available",
          "posted",
          "timestamp"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Balance",
          "sourcePath": "schemas/Balance.yaml",
          "title": "Balance",
          "origin": "./src/publicApi"
        },
        "title": "Balance"
      },
      "Money": {
        "type": "object",
        "description": "Represents a monetary value",
        "properties": {
          "amountCents": {
            "type": "integer",
            "description": "The amount in cents"
          }
        },
        "required": [
          "amountCents"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Money",
          "sourcePath": "schemas/Money.yaml",
          "title": "Money",
          "origin": "./src/publicApi"
        },
        "title": "Money"
      },
      "AuthorizationWebhook": {
        "type": "object",
        "properties": {
          "webhookUrl": {
            "type": "string",
            "description": "The URL where authorization webhook events will be sent"
          },
          "signingSecret": {
            "type": "string",
            "description": "Secret used for signing webhook payloads"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Current status of the webhook"
          },
          "timeoutDurationMs": {
            "type": "integer",
            "description": "The timeout duration in milliseconds for webhook requests"
          },
          "config": {
            "$ref": "#/components/schemas/AuthorizationWebhookConfig",
            "description": "Configuration specific to the authorization webhook",
            "x-entrypoint": {
              "virtualPath": "schemas/AuthorizationWebhookConfig",
              "sourcePath": "schemas/AuthorizationWebhookConfig.yaml",
              "title": "AuthorizationWebhookConfig",
              "origin": "./src/publicApi"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the webhook was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the webhook was last updated"
          }
        },
        "required": [
          "webhookUrl",
          "signingSecret",
          "status",
          "timeoutDurationMs",
          "config",
          "createdAt",
          "updatedAt"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/AuthorizationWebhook",
          "sourcePath": "schemas/AuthorizationWebhook.yaml",
          "title": "AuthorizationWebhook",
          "origin": "./src/publicApi"
        },
        "title": "AuthorizationWebhook"
      },
      "AuthorizationWebhookConfig": {
        "description": "Configuration specific to the authorization webhook, discriminated on `fallbackBehavior`.\n\nThe fallback behavior is used when the webhook cannot produce an answer \u2014 it fails to send a response in time, sends an invalid response, or cannot be reached (including while Slash is operating in a degraded mode where external webhooks cannot be consulted):\n- `reject`: the transaction is declined.\n- `default`: the transaction continues through Slash's standard authorization flow (balance and limit checks still apply). If a `when` condition is provided, only transactions matching the condition continue; non-matching transactions are declined.\n",
        "oneOf": [
          {
            "type": "object",
            "description": "Always decline the transaction when the webhook cannot produce an answer.",
            "properties": {
              "fallbackBehavior": {
                "type": "string",
                "enum": [
                  "reject"
                ],
                "description": "The transaction will be declined."
              }
            },
            "required": [
              "fallbackBehavior"
            ]
          },
          {
            "type": "object",
            "description": "Continue the transaction through the standard authorization flow when the webhook cannot produce an answer \u2014 for every transaction, or only for transactions matching the optional `when` condition.\n",
            "properties": {
              "fallbackBehavior": {
                "type": "string",
                "enum": [
                  "default"
                ],
                "description": "The transaction will continue to run through the standard authorization flow (e.g. the balance check)."
              },
              "when": {
                "$ref": "#/components/schemas/AuthorizationWebhookCondition",
                "description": "Optional condition restricting which transactions the `default` fallback applies to: matching transactions continue through the standard authorization flow, non-matching transactions are declined. Omit to apply the `default` fallback to every transaction.\n",
                "x-entrypoint": {
                  "virtualPath": "schemas/AuthorizationWebhookCondition",
                  "sourcePath": "schemas/AuthorizationWebhookCondition.yaml",
                  "title": "AuthorizationWebhookCondition",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "fallbackBehavior"
            ]
          }
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/AuthorizationWebhookConfig",
          "sourcePath": "schemas/AuthorizationWebhookConfig.yaml",
          "title": "AuthorizationWebhookConfig",
          "origin": "./src/publicApi"
        },
        "title": "AuthorizationWebhookConfig"
      },
      "AuthorizationWebhookCondition": {
        "description": "A condition expression evaluated against a card authorization, used to decide whether the `default` fallback behavior applies to that transaction.\n\nConditions form a small expression tree:\n- Logical nodes (`and` / `or`) combine two sub-conditions and can be nested.\n- Comparison leaves (`lte`, `lt`, `gte`, `gt`, `eq`) test the transaction amount (`amountCents`, the absolute amount in USD cents).\n- Set-membership leaves (`in`) test whether the transaction's `merchantCategoryCode` (4-digit MCC) or `merchantCountry` (ISO 3166-1 alpha-2, as delivered on the authorization request event's `merchant.location.country`) is one of the given values.\n\nA condition over a field the authorization request did not carry evaluates to false.\n",
        "oneOf": [
          {
            "type": "object",
            "description": "Logical node: combines two sub-conditions with `and` (both must match) or `or` (either must match). Sub-conditions may themselves be logical nodes.\n",
            "properties": {
              "operator": {
                "type": "string",
                "enum": [
                  "and",
                  "or"
                ],
                "description": "How the two sub-conditions are combined."
              },
              "left": {
                "$ref": "#/components/schemas/AuthorizationWebhookCondition",
                "description": "The first sub-condition.",
                "x-entrypoint": {
                  "virtualPath": "schemas/AuthorizationWebhookCondition",
                  "sourcePath": "schemas/AuthorizationWebhookCondition.yaml",
                  "title": "AuthorizationWebhookCondition",
                  "origin": "./src/publicApi"
                }
              },
              "right": {
                "$ref": "#/components/schemas/AuthorizationWebhookCondition",
                "description": "The second sub-condition.",
                "x-entrypoint": {
                  "virtualPath": "schemas/AuthorizationWebhookCondition",
                  "sourcePath": "schemas/AuthorizationWebhookCondition.yaml",
                  "title": "AuthorizationWebhookCondition",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "operator",
              "left",
              "right"
            ]
          },
          {
            "type": "object",
            "description": "Amount comparison leaf: tests the absolute transaction amount in USD cents against `value`.\n",
            "properties": {
              "operator": {
                "type": "string",
                "enum": [
                  "lte",
                  "lt",
                  "gte",
                  "gt",
                  "eq"
                ],
                "description": "The comparison to apply: less-than-or-equal, less-than, greater-than-or-equal, greater-than, or equal."
              },
              "field": {
                "type": "string",
                "enum": [
                  "amountCents"
                ],
                "description": "The transaction field being compared. Amounts are compared as absolute values in USD cents."
              },
              "value": {
                "type": "integer",
                "description": "The amount in USD cents to compare against."
              }
            },
            "required": [
              "operator",
              "field",
              "value"
            ]
          },
          {
            "type": "object",
            "description": "Set-membership leaf: tests whether the transaction's merchant category code or merchant country is one of `values`.\n",
            "properties": {
              "operator": {
                "type": "string",
                "enum": [
                  "in"
                ],
                "description": "Matches when the transaction's field value is one of `values`."
              },
              "field": {
                "type": "string",
                "enum": [
                  "merchantCategoryCode",
                  "merchantCountry"
                ],
                "description": "`merchantCategoryCode` is the 4-digit MCC; `merchantCountry` is the ISO 3166-1 alpha-2 merchant country."
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The set of values to match against."
              }
            },
            "required": [
              "operator",
              "field",
              "values"
            ]
          }
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/AuthorizationWebhookCondition",
          "sourcePath": "schemas/AuthorizationWebhookCondition.yaml",
          "title": "AuthorizationWebhookCondition",
          "origin": "./src/publicApi"
        },
        "title": "AuthorizationWebhookCondition"
      },
      "VirtualAccount": {
        "type": "object",
        "properties": {
          "virtualAccount": {
            "$ref": "#/components/schemas/VirtualAccountModel",
            "description": "The virtual account itself",
            "x-entrypoint": {
              "virtualPath": "schemas/VirtualAccountModel",
              "sourcePath": "schemas/VirtualAccountModel.yaml",
              "title": "VirtualAccountModel",
              "origin": "./src/publicApi"
            }
          },
          "balance": {
            "$ref": "#/components/schemas/Money",
            "description": "The total balance of the virtual account",
            "x-entrypoint": {
              "virtualPath": "schemas/Money",
              "sourcePath": "schemas/Money.yaml",
              "title": "Money",
              "origin": "./src/publicApi"
            }
          },
          "spend": {
            "$ref": "#/components/schemas/Money",
            "description": "The total spend of the virtual account",
            "x-entrypoint": {
              "virtualPath": "schemas/Money",
              "sourcePath": "schemas/Money.yaml",
              "title": "Money",
              "origin": "./src/publicApi"
            }
          },
          "commissionRule": {
            "$ref": "#/components/schemas/VirtualAccountCommissionRule",
            "description": "The commission rule applied to the virtual account, if any",
            "x-entrypoint": {
              "virtualPath": "schemas/VirtualAccountCommissionRule",
              "sourcePath": "schemas/VirtualAccountCommissionRule.yaml",
              "title": "VirtualAccountCommissionRule",
              "origin": "./src/publicApi"
            }
          }
        },
        "required": [
          "virtualAccount",
          "balance",
          "spend"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/VirtualAccount",
          "sourcePath": "schemas/VirtualAccount.yaml",
          "title": "VirtualAccount",
          "origin": "./src/publicApi"
        },
        "title": "VirtualAccount"
      },
      "VirtualAccountModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the virtual account."
          },
          "name": {
            "type": "string",
            "description": "The name of the virtual account."
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the virtual account."
          },
          "routingNumber": {
            "type": "string",
            "description": "The routing number of the virtual account."
          },
          "accountId": {
            "type": "string",
            "description": "The account ID of the Slash account the virtual account is associated with."
          },
          "closedAt": {
            "type": "string",
            "description": "The date the virtual account was closed; will be null if account was never closed."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "default",
              "primary"
            ],
            "description": "The account type of the virtual account. Since virtual accounts and Slash accounts exist at the same hierarchy level,\nan account type of 'primary' means it is the main Slash account, while an account type of 'default' means it is a virtual account\nunder the main account.\n"
          }
        },
        "description": "The virtual account object",
        "required": [
          "id",
          "name",
          "accountId",
          "accountType"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/VirtualAccountModel",
          "sourcePath": "schemas/VirtualAccountModel.yaml",
          "title": "VirtualAccountModel",
          "origin": "./src/publicApi"
        },
        "title": "VirtualAccountModel"
      },
      "VirtualAccountCommissionRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the commission rule"
          },
          "virtualAccountId": {
            "type": "string",
            "description": "The ID of the virtual account the commission rule is applied to"
          },
          "commissionDetails": {
            "$ref": "#/components/schemas/VirtualAccountCommissionDetails",
            "description": "Describes details of the commission rule.",
            "x-entrypoint": {
              "virtualPath": "schemas/VirtualAccountCommissionDetails",
              "sourcePath": "schemas/VirtualAccountCommissionDetails.yaml",
              "title": "VirtualAccountCommissionDetails",
              "origin": "./src/publicApi"
            }
          }
        },
        "description": "The virtual account commission rule object",
        "required": [
          "id",
          "virtualAccountId",
          "commissionDetails"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/VirtualAccountCommissionRule",
          "sourcePath": "schemas/VirtualAccountCommissionRule.yaml",
          "title": "VirtualAccountCommissionRule",
          "origin": "./src/publicApi"
        },
        "title": "VirtualAccountCommissionRule"
      },
      "VirtualAccountCommissionDetails": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "flatFee"
                ],
                "description": "The type of the commission rule. A type of flat_fee will take a flat fee from the virtual account and transfer it to the primary account\nwith the frequency of the collection defined as monthly or yearly.\n"
              },
              "amount": {
                "$ref": "#/components/schemas/Money",
                "description": "The amount of money to be diverted from the virtual account if the type of rule is flat_fee.",
                "x-entrypoint": {
                  "virtualPath": "schemas/Money",
                  "sourcePath": "schemas/Money.yaml",
                  "title": "Money",
                  "origin": "./src/publicApi"
                }
              },
              "frequency": {
                "type": "string",
                "enum": [
                  "monthly",
                  "yearly"
                ],
                "description": "The frequency from the start date that the rule will be applied. E.g. a start date of November 26, 2024 with a frequency of \"monthly\"\nwill have the rule applied on December 26, 2024. If the frequency was \"yearly\", the rule would be applied again on November 26, 2025.\n"
              },
              "startDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date that the rule will begin to take effect."
              }
            },
            "required": [
              "type",
              "frequency",
              "amount"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "takeRate"
                ],
                "description": "The type of the commission rule. A type of take_rate will take a percent of the virtual account's funds and divert them to\nthe primary account.\n"
              },
              "takeRate": {
                "type": "number",
                "description": "The percentage of funds to divert from the virtual account to the primary account."
              }
            },
            "required": [
              "type",
              "takeRate"
            ]
          }
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/VirtualAccountCommissionDetails",
          "sourcePath": "schemas/VirtualAccountCommissionDetails.yaml",
          "title": "VirtualAccountCommissionDetails",
          "origin": "./src/publicApi"
        },
        "title": "VirtualAccountCommissionDetails"
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "description": "The date in UTC time when the transaction was posted. If the transaction is pending or failed, this is the date the transaction was created.",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "memo": {
            "description": "The memo associated with the transaction. For virtual account transfers, this is the memo provided when creating the transfer. For ACH transactions, this is the company entry description. For wire transactions, this is the sender reference.",
            "type": "string"
          },
          "merchantDescription": {
            "type": "string",
            "description": "DEPRECATED. Use `merchantData.description` instead. For card transactions, the description of the transaction as reported by the merchant. For other transactions, this field is undefined.",
            "deprecated": true
          },
          "merchantData": {
            "$ref": "#/components/schemas/TransactionMerchant",
            "description": "For card transactions, contains description of the transaction as reported by the merchant, merchant category code, and location of the merchant or origin of the transaction.\nFor other transactions, this field is undefined.\n",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionMerchant",
              "sourcePath": "schemas/TransactionMerchant.yaml",
              "title": "TransactionMerchant",
              "origin": "./src/publicApi"
            }
          },
          "amountCents": {
            "description": "The amount of the transaction in cents in USD. If the transaction amount is negative, the transaction is a debit. If the transaction amount is positive, the transaction is a credit.",
            "type": "number"
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionStatus",
              "sourcePath": "schemas/TransactionStatus.yaml",
              "title": "TransactionStatus",
              "origin": "./src/publicApi"
            }
          },
          "detailedStatus": {
            "$ref": "#/components/schemas/TransactionDetailedStatus",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionDetailedStatus",
              "sourcePath": "schemas/TransactionDetailedStatus.yaml",
              "title": "TransactionDetailedStatus",
              "origin": "./src/publicApi"
            }
          },
          "accountId": {
            "description": "The account ID associated with the transaction"
          },
          "virtualAccountId": {
            "description": "The virtual account ID where the transaction occurred",
            "type": "string"
          },
          "accountSubtype": {
            "description": "For charge cards, specifies if the transaction belongs to the cash or credit account. For debit accounts, this field is always cash.",
            "type": "string",
            "enum": [
              "cash",
              "credit"
            ]
          },
          "cardId": {
            "description": "The card ID associated with the transaction. If the transaction is not associated with a card, this field is not sent.",
            "type": "string"
          },
          "cashbackInfo": {
            "$ref": "#/components/schemas/TransactionCashbackInfo",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionCashbackInfo",
              "sourcePath": "schemas/TransactionCashbackInfo.yaml",
              "title": "TransactionCashbackInfo",
              "origin": "./src/publicApi"
            }
          },
          "fxFeeInfo": {
            "$ref": "#/components/schemas/TransactionFxFeeInfo",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionFxFeeInfo",
              "sourcePath": "schemas/TransactionFxFeeInfo.yaml",
              "title": "TransactionFxFeeInfo",
              "origin": "./src/publicApi"
            }
          },
          "originalCurrency": {
            "$ref": "#/components/schemas/OriginalCurrency",
            "x-entrypoint": {
              "virtualPath": "schemas/OriginalCurrency",
              "sourcePath": "schemas/OriginalCurrency.yaml",
              "title": "OriginalCurrency",
              "origin": "./src/publicApi"
            }
          },
          "orderId": {
            "description": "The order ID, as reported by the merchant, associated with the specific transaction.",
            "type": "string"
          },
          "referenceNumber": {
            "description": "The reference number provided by Visa for this transaction.",
            "type": "string"
          },
          "authorizedAt": {
            "description": "The UTC timestamp of when the transaction was authorized. Only exists for card transactions.",
            "type": "string"
          },
          "declineReason": {
            "type": "string",
            "description": "The reason for the decline. Only exists for card transactions with `detailedStatus` = `declined`."
          },
          "approvalReason": {
            "type": "string",
            "description": "The reason for the approval. Only exists for card transactions with `detailedStatus` = `pending` or `settled`."
          },
          "providerAuthorizationId": {
            "type": "string",
            "description": "The provider authorization ID for the transaction. Only exists for card transactions."
          },
          "wireInfo": {
            "type": "object",
            "description": "Information about the associated wire transfer if the transaction is a wire transfer.",
            "properties": {
              "counterpartyBank": {
                "type": "string",
                "description": "The name of the bank or financial institution of the counterparty in the wire transfer"
              },
              "typeCode": {
                "type": "string",
                "description": "A code that identifies the type of wire transfer (e.g., domestic, international)"
              },
              "subtypeCode": {
                "type": "string",
                "description": "A code that identifies the specific type or subtype of the wire transfer"
              },
              "omad": {
                "type": "string",
                "description": "Outgoing Message Authentication Data - a unique identifier assigned by the originating bank for the outgoing wire transfer. If the other bank is an account with Column N.A., this field is empty."
              },
              "imad": {
                "type": "string",
                "description": "Incoming Message Authentication Data - a unique identifier assigned by the receiving bank for the incoming wire transfer.  If the other bank is an account with Column N.A., this field is empty."
              },
              "senderReference": {
                "type": "string",
                "description": "A reference number or identifier provided by the sender of the wire transfer for tracking purposes"
              },
              "businessFunctionCode": {
                "type": "string",
                "description": "A code that identifies the business function or purpose of the wire transfer (e.g., customer transfer, bank transfer, etc.)"
              }
            },
            "required": [
              "subtypeCode",
              "omad",
              "imad",
              "senderReference",
              "businessFunctionCode",
              "typeCode"
            ]
          },
          "achInfo": {
            "type": "object",
            "description": "Information about the associated ACH transfer if the transaction is an ACH transfer.",
            "properties": {
              "counterpartyBank": {
                "type": "string",
                "description": "The name of the bank or financial institution of the counterparty in the ACH transfer"
              },
              "receiverId": {
                "type": "string",
                "description": "The unique identifier for the receiver of the ACH transfer"
              },
              "companyId": {
                "type": "string",
                "description": "The company identification number assigned by the originating depository financial institution"
              },
              "companyDiscretionaryData": {
                "type": "string",
                "description": "Optional data field that can be used by the originating company for internal purposes"
              },
              "companyEntryDescription": {
                "type": "string",
                "description": "An optional description of the purpose of the ACH entry as provided by the originating company"
              },
              "traceNumber": {
                "type": "string",
                "description": "A unique number assigned by the originating depository financial institution to identify the ACH entry"
              },
              "entryClassCode": {
                "type": "string",
                "description": "A three-character code that identifies the type of ACH entry (e.g., PPD for Prearranged Payment and Deposit, CCD for Corporate Credit or Debit)"
              },
              "paymentRelatedInfo": {
                "type": "string",
                "description": "Additional information related to the payment, such as invoice numbers, payment references, or other payment-specific details"
              }
            },
            "required": [
              "receiverId",
              "companyId",
              "companyDiscretionaryData",
              "traceNumber",
              "entryClassCode",
              "paymentRelatedInfo"
            ]
          },
          "rtpInfo": {
            "type": "object",
            "description": "Information about the associated Real-Time Payment (RTP) transfer if the transaction is a real-time transfer.",
            "properties": {
              "counterpartyBank": {
                "type": "string",
                "description": "The name of the bank or financial institution of the counterparty in the real-time transfer"
              },
              "endToEndId": {
                "type": "string",
                "description": "A unique end-to-end identifier for the real-time payment transaction that remains with the payment throughout its lifecycle"
              },
              "routingNumber": {
                "type": "string",
                "description": "The routing number of the counterparty's bank"
              },
              "originatorName": {
                "type": "string",
                "description": "The name of the originator of the real-time payment"
              },
              "description": {
                "type": "string",
                "description": "Additional description or purpose of the real-time payment"
              }
            }
          },
          "sepaInfo": {
            "type": "object",
            "description": "Information about the associated SEPA (Single Euro Payments Area) transfer if the transaction is a SEPA deposit into a Global USD account.",
            "properties": {
              "senderName": {
                "type": "string",
                "description": "The name of the originator of the SEPA transfer."
              },
              "recipientName": {
                "type": "string",
                "description": "The name of the recipient of the SEPA transfer."
              },
              "reference": {
                "type": "string",
                "description": "The free-form reference field set by the originator on the SEPA transfer."
              },
              "iban": {
                "type": "string",
                "description": "The full IBAN of the counterparty on the SEPA transfer."
              },
              "ibanLast4": {
                "type": "string",
                "description": "The last 4 characters of the IBAN of the counterparty on the SEPA transfer."
              },
              "bic": {
                "type": "string",
                "description": "The BIC of the counterparty bank on the SEPA transfer."
              },
              "uetr": {
                "type": "string",
                "description": "The unique end-to-end transaction reference (UETR) for the SEPA transfer."
              },
              "paymentScheme": {
                "type": "string",
                "description": "The SEPA payment scheme used (e.g., `sepa_credit_transfer`, `sepa_instant`)."
              }
            }
          },
          "pixInfo": {
            "type": "object",
            "description": "Information about the associated PIX (Brazilian instant-payment) transfer if the transaction is a PIX deposit into a Global USD account.",
            "properties": {
              "senderName": {
                "type": "string",
                "description": "The name of the originator of the PIX transfer."
              },
              "description": {
                "type": "string",
                "description": "A description of the PIX transfer provided by the originator."
              },
              "reference": {
                "type": "string",
                "description": "The free-form reference field set by the originator on the PIX transfer."
              },
              "trackingNumber": {
                "type": "string",
                "description": "The PIX network tracking number (`endToEndId`) for the transfer."
              }
            }
          },
          "speiInfo": {
            "type": "object",
            "description": "Information about the associated SPEI (Mexican real-time payment) transfer if the transaction is a SPEI deposit into a Global USD account.",
            "properties": {
              "senderName": {
                "type": "string",
                "description": "The name of the originator of the SPEI transfer."
              },
              "description": {
                "type": "string",
                "description": "A description of the SPEI transfer provided by the originator."
              },
              "reference": {
                "type": "string",
                "description": "The free-form reference field (concepto de pago) set by the originator on the SPEI transfer."
              },
              "clabe": {
                "type": "string",
                "description": "The CLABE of the counterparty on the SPEI transfer."
              },
              "trackingNumber": {
                "type": "string",
                "description": "The SPEI network tracking number (clave de rastreo) for the transfer."
              }
            }
          },
          "fpsInfo": {
            "type": "object",
            "description": "Information about the associated Faster Payments transfer if the transaction is a Faster Payments deposit into a Global USD account.",
            "properties": {
              "senderName": {
                "type": "string",
                "description": "The name of the originator of the Faster Payments transfer."
              },
              "recipientName": {
                "type": "string",
                "description": "The name of the recipient of the Faster Payments transfer."
              },
              "reference": {
                "type": "string",
                "description": "The free-form reference field set by the originator on the Faster Payments transfer."
              },
              "accountNumber": {
                "type": "string",
                "description": "The account number of the counterparty on the Faster Payments transfer."
              },
              "last4": {
                "type": "string",
                "description": "The last 4 digits of the account number of the counterparty on the Faster Payments transfer."
              },
              "sortCode": {
                "type": "string",
                "description": "The sort code of the counterparty bank on the Faster Payments transfer."
              },
              "uetr": {
                "type": "string",
                "description": "The unique end-to-end transaction reference (UETR) for the Faster Payments transfer."
              }
            }
          },
          "feeInfo": {
            "type": "object",
            "description": "Information populated if this transaction is a fee assessed by Slash.",
            "properties": {
              "relatedTransaction": {
                "type": "object",
                "required": [
                  "id",
                  "amount"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "cryptoInfo": {
            "type": "object",
            "description": "Information populated if this transaction is a crypto on/off-ramp transaction.",
            "properties": {
              "txHash": {
                "type": "string",
                "description": "The transaction hash of the crypto on/off-ramp transaction."
              },
              "senderAddress": {
                "type": "string",
                "description": "The sender address of the crypto on/off-ramp transaction."
              }
            }
          }
        },
        "required": [
          "id",
          "date",
          "description",
          "amountCents",
          "status",
          "detailedStatus",
          "accountId",
          "accountSubtype"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Transaction",
          "sourcePath": "schemas/Transaction.yaml",
          "title": "Transaction",
          "origin": "./src/publicApi"
        },
        "title": "Transaction"
      },
      "TransactionMerchant": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "The raw description provided by the merchant for the transaction."
          },
          "categoryCode": {
            "type": "string",
            "description": "The merchant's category code (MCC)"
          },
          "location": {
            "$ref": "#/components/schemas/TransactionMerchantLocation",
            "description": "Location details for the merchant/transaction.",
            "x-entrypoint": {
              "virtualPath": "schemas/TransactionMerchantLocation",
              "sourcePath": "schemas/TransactionMerchantLocation.yaml",
              "title": "TransactionMerchantLocation",
              "origin": "./src/publicApi"
            }
          }
        },
        "required": [
          "description",
          "categoryCode"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionMerchant",
          "sourcePath": "schemas/TransactionMerchant.yaml",
          "title": "TransactionMerchant",
          "origin": "./src/publicApi"
        },
        "title": "TransactionMerchant"
      },
      "TransactionMerchantLocation": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "The city of the merchant."
          },
          "state": {
            "type": "string",
            "description": "The state/province of the merchant."
          },
          "country": {
            "type": "string",
            "description": "The country of the merchant."
          },
          "zip": {
            "type": "string",
            "description": "The ZIP/postal code of the merchant."
          }
        },
        "required": [
          "city",
          "state",
          "country",
          "zip"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionMerchantLocation",
          "sourcePath": "schemas/TransactionMerchantLocation.yaml",
          "title": "TransactionMerchantLocation",
          "origin": "./src/publicApi"
        },
        "title": "TransactionMerchantLocation"
      },
      "TransactionStatus": {
        "type": "string",
        "description": "- `pending`: The transaction is pending and has not been posted to the account yet (the account's posted balance doesn't reflect the transaction yet, but the account's available balance does).\n- `posted`: The transaction has been posted to the account and the account's posted balance and available balances both reflect the transaction.\n- `failed`: The transaction failed to post to the account and no longer affects the account's available or posted balances.\n",
        "enum": [
          "pending",
          "posted",
          "failed"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionStatus",
          "sourcePath": "schemas/TransactionStatus.yaml",
          "title": "TransactionStatus",
          "origin": "./src/publicApi"
        },
        "title": "TransactionStatus"
      },
      "TransactionDetailedStatus": {
        "type": "string",
        "description": "- `pending_approval`: Used for any transaction type that is pending approval. This does not affect the account's available or posted balances.\n- `pending`: Used for any transaction type that has not posted to the account yet, but is affecting the account's available balance.\n- `canceled`: Used for any transaction that was canceled.\n- `failed`: Used for any transaction that failed to post to the account.\n- `settled`: Used for any transaction that has posted to the account, except for card refunds, which use the `refund` status, and ACH returns, which use the `returned` status.\n- `declined`: Used for card transactions that were declined.\n- `refund`: Used for card transactions that were refunded, increasing the account's available and posted balances.\n- `reversed`: Used for card transactions that were authorized, but reversed by the merchant.\n- `returned`: Used for ACH returns. In the case of an ACH return, there are two possibilities: (1) if the ACH settled and then returned, then there will be one transaction with status `settled` for the ACH settling, and one transaction with status `returned` for the ACH return. Both of these are posted transactions. (2) if the ACH returned before settling, then there will only be one transaction with status `canceled`.\n- `dispute`: Used for disputed card transactions.\n",
        "enum": [
          "pending",
          "pending_approval",
          "in_review",
          "canceled",
          "failed",
          "settled",
          "declined",
          "refund",
          "reversed",
          "returned",
          "dispute"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionDetailedStatus",
          "sourcePath": "schemas/TransactionDetailedStatus.yaml",
          "title": "TransactionDetailedStatus",
          "origin": "./src/publicApi"
        },
        "title": "TransactionDetailedStatus"
      },
      "TransactionCashbackInfo": {
        "type": "object",
        "description": "Cashback earned for this transaction. This is only present when cashback is known and currently applies to eligible card transactions.",
        "properties": {
          "amountCents": {
            "type": "number",
            "description": "The cashback amount earned for this transaction, in cents."
          },
          "rate": {
            "type": "number",
            "description": "The cashback rate applied to this transaction."
          }
        },
        "required": [
          "amountCents",
          "rate"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionCashbackInfo",
          "sourcePath": "schemas/TransactionCashbackInfo.yaml",
          "title": "TransactionCashbackInfo",
          "origin": "./src/publicApi"
        },
        "title": "TransactionCashbackInfo"
      },
      "TransactionFxFeeInfo": {
        "type": "object",
        "description": "Foreign exchange fee charged for this transaction. This is only present when an FX fee has been created for the transaction.",
        "properties": {
          "amountCents": {
            "type": "number",
            "description": "The FX fee amount charged for this transaction, in USD cents."
          }
        },
        "required": [
          "amountCents"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/TransactionFxFeeInfo",
          "sourcePath": "schemas/TransactionFxFeeInfo.yaml",
          "title": "TransactionFxFeeInfo",
          "origin": "./src/publicApi"
        },
        "title": "TransactionFxFeeInfo"
      },
      "OriginalCurrency": {
        "type": "object",
        "description": "The original currency of the transaction. This is only applicable to transactions. If this field is not sent, the original currency is in USD.\n",
        "properties": {
          "code": {
            "type": "string",
            "description": "The original currency code of the transaction"
          },
          "amountCents": {
            "type": "number",
            "description": "The amount of the transaction in its original currency in cents."
          },
          "conversionRate": {
            "type": "number",
            "description": "The conversion rate used to convert the transaction amount from its original currency to the account currency. The currency rate is computed at the time of the transaction."
          }
        },
        "required": [
          "code",
          "amountCents",
          "conversionRate"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/OriginalCurrency",
          "sourcePath": "schemas/OriginalCurrency.yaml",
          "title": "OriginalCurrency",
          "origin": "./src/publicApi"
        },
        "title": "OriginalCurrency"
      },
      "FeeTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "dateCharged": {
            "type": "string"
          },
          "feeAmountCents": {
            "type": "number"
          },
          "feeType": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "originalTransaction": {
            "$ref": "#/components/schemas/Transaction",
            "x-entrypoint": {
              "virtualPath": "schemas/Transaction",
              "sourcePath": "schemas/Transaction.yaml",
              "title": "Transaction",
              "origin": "./src/publicApi"
            }
          },
          "card": {
            "$ref": "#/components/schemas/Card",
            "x-entrypoint": {
              "virtualPath": "schemas/Card",
              "sourcePath": "schemas/Card.yaml",
              "title": "Card",
              "origin": "./src/publicApi"
            }
          }
        },
        "required": [
          "id",
          "dateCharged",
          "feeAmountCents",
          "feeType",
          "accountId"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/FeeTransaction",
          "sourcePath": "schemas/FeeTransaction.yaml",
          "title": "FeeTransaction",
          "origin": "./src/publicApi"
        },
        "title": "FeeTransaction"
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The account that this card is associated with"
          },
          "virtualAccountId": {
            "type": "string",
            "description": "The virtual account that this card is associated with"
          },
          "last4": {
            "type": "string",
            "description": "The last 4 digits of the card number"
          },
          "name": {
            "type": "string",
            "description": "The name assigned to the card that appears on the user dashboard"
          },
          "expiryMonth": {
            "type": "string",
            "description": "The month the card expires formatted as MM (01, 02, ..., 12)"
          },
          "expiryYear": {
            "type": "string",
            "description": "The year the card expires formatted as YYYY (2024, 2025, ...)"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardStatus",
                "x-entrypoint": {
                  "virtualPath": "schemas/CardStatus",
                  "sourcePath": "schemas/CardStatus.yaml",
                  "title": "CardStatus",
                  "origin": "./src/publicApi"
                }
              },
              {
                "description": "The status of the card"
              }
            ]
          },
          "isPhysical": {
            "type": "boolean",
            "description": "When true, a physical card has been issued. Otherwise, this is a virtual card."
          },
          "isSingleUse": {
            "type": "boolean",
            "description": "When true, the card will be automatically closed after a single authorization attempt. Note that the card will be closed even if the authorization declines or drops"
          },
          "pan": {
            "type": "string",
            "description": "This field contains the full PAN which will only be sent on a request for a single card when you set the query param \"include_pan\" to \"true\""
          },
          "cvv": {
            "type": "string",
            "description": "This field will contain full CVV which will only be sent on a request for a single card when you set the query param \"include_pan\" to \"true\""
          },
          "cardGroupId": {
            "type": "string",
            "description": "The card group the card belongs to."
          },
          "cardGroupName": {
            "type": "string",
            "description": "The name of the card group the card belongs to."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "spendingConstraint": {
            "$ref": "#/components/schemas/SpendingConstraint",
            "description": "The spending constraint applied to the card",
            "x-entrypoint": {
              "virtualPath": "schemas/SpendingConstraint",
              "sourcePath": "schemas/SpendingConstraint.yaml",
              "title": "SpendingConstraint",
              "origin": "./src/publicApi"
            }
          },
          "userData": {
            "type": "object",
            "description": "Arbitrary information that can be attached to the card. See the [`PATCH /card/{cardId}`](api-reference/card-patch) endpoint for more details on how to add user data."
          },
          "cardProductId": {
            "type": "string",
            "description": "The ID of the card product this card was created with."
          },
          "modifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardModifier",
              "x-entrypoint": {
                "virtualPath": "schemas/CardModifier",
                "sourcePath": "schemas/CardModifier.yaml",
                "title": "CardModifier",
                "origin": "./src/publicApi"
              }
            },
            "description": "The modifiers applied to this card. Modifiers control card behavior like restricting to recurring payments only."
          }
        },
        "required": [
          "id",
          "accountId",
          "last4",
          "name",
          "expiryMonth",
          "expiryYear",
          "status",
          "isPhysical"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Card",
          "sourcePath": "schemas/Card.yaml",
          "title": "Card",
          "origin": "./src/publicApi"
        },
        "title": "Card"
      },
      "CardStatus": {
        "type": "string",
        "enum": [
          "active",
          "paused",
          "inactive",
          "closed"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/CardStatus",
          "sourcePath": "schemas/CardStatus.yaml",
          "title": "CardStatus",
          "origin": "./src/publicApi"
        },
        "title": "CardStatus"
      },
      "SpendingConstraint": {
        "type": "object",
        "description": "A constraint that can be applied to a CardGroupSpendingRule",
        "properties": {
          "merchantCategoryRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchantCategories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "merchantCategories",
              "restriction"
            ]
          },
          "merchantRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchants": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "merchants",
              "restriction"
            ]
          },
          "spendingRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "utilizationLimit": {
                "type": "object",
                "properties": {
                  "timezone": {
                    "type": "string",
                    "description": "IANA timezone string. Limits always reset at midnight of the timezone specified. If no timezone is specified, then UTC time is used."
                  },
                  "limitAmount": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  },
                  "preset": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly",
                      "yearly",
                      "collective"
                    ]
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Format ISO-8601. A day that equals today or the past. This is optional.If the `preset` is \"daily\", this value is ignored. If the `preset` is \"weekly\", \"monthly\" or \"yearly\", then the this value is used to compute when the limit should start limit."
                  }
                },
                "required": [
                  "limitAmount",
                  "preset"
                ]
              },
              "utilizationLimitV2": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timezone": {
                      "type": "string",
                      "description": "IANA timezone string. Limits always reset at midnight of the timezone specified. If no timezone is specified, then UTC time is used."
                    },
                    "limitAmount": {
                      "$ref": "#/components/schemas/Money",
                      "x-entrypoint": {
                        "virtualPath": "schemas/Money",
                        "sourcePath": "schemas/Money.yaml",
                        "title": "Money",
                        "origin": "./src/publicApi"
                      }
                    },
                    "preset": {
                      "type": "string",
                      "enum": [
                        "daily",
                        "weekly",
                        "monthly",
                        "yearly",
                        "collective"
                      ]
                    },
                    "startDate": {
                      "type": "string",
                      "description": "Format ISO-8601. A day that equals today or the past. This is optional.If the `preset` is \"daily\", this value is ignored. If the `preset` is \"weekly\", \"monthly\" or \"yearly\", then the this value is used to compute when the limit should start limit."
                    }
                  },
                  "required": [
                    "limitAmount",
                    "preset"
                  ]
                }
              },
              "transactionSizeLimit": {
                "type": "object",
                "properties": {
                  "minimum": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  },
                  "maximum": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  }
                }
              }
            }
          },
          "countryRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "countries": {
                "description": "A 2 digit country code",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "countries",
              "restriction"
            ]
          },
          "merchantCategoryCodeRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchantCategoryCodes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            },
            "required": [
              "merchantCategoryCodes",
              "restriction"
            ]
          }
        },
        "x-entrypoint": {
          "virtualPath": "schemas/SpendingConstraint",
          "sourcePath": "schemas/SpendingConstraint.yaml",
          "title": "SpendingConstraint",
          "origin": "./src/publicApi"
        },
        "title": "SpendingConstraint"
      },
      "Restriction": {
        "type": "string",
        "enum": [
          "allowlist",
          "blacklist"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Restriction",
          "sourcePath": "schemas/Restriction.yaml",
          "title": "Restriction",
          "origin": "./src/publicApi"
        },
        "title": "Restriction"
      },
      "CardModifier": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "name",
              "value"
            ],
            "properties": {
              "name": {
                "type": "string",
                "enum": [
                  "only_allow_recurring_payments"
                ]
              },
              "value": {
                "description": "Whether to only allow recurring payments. The default value for newly created cards is false.",
                "type": "boolean"
              }
            }
          }
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/CardModifier",
          "sourcePath": "schemas/CardModifier.yaml",
          "title": "CardModifier",
          "origin": "./src/publicApi"
        },
        "title": "CardModifier"
      },
      "CardGroupUtilization": {
        "type": "object",
        "properties": {
          "nextResetDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date the next reset will occur, undefined if collective"
          },
          "spend": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money spent in the current period",
            "x-entrypoint": {
              "virtualPath": "schemas/Money",
              "sourcePath": "schemas/Money.yaml",
              "title": "Money",
              "origin": "./src/publicApi"
            }
          },
          "availableBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money available in the current period. Only returned if the card or card group has a spend limit.",
            "x-entrypoint": {
              "virtualPath": "schemas/Money",
              "sourcePath": "schemas/Money.yaml",
              "title": "Money",
              "origin": "./src/publicApi"
            }
          }
        },
        "required": [
          "spend"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/CardGroupUtilization",
          "sourcePath": "schemas/CardGroupUtilization.yaml",
          "title": "CardGroupUtilization",
          "origin": "./src/publicApi"
        },
        "title": "CardGroupUtilization"
      },
      "PartialSpendingConstraint": {
        "type": "object",
        "description": "A partial spending constraint update that can be applied to a CardGroupSpendingRule",
        "properties": {
          "merchantCategoryRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchantCategories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            }
          },
          "merchantRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchants": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            }
          },
          "spendingRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "utilizationLimit": {
                "type": "object",
                "properties": {
                  "timezone": {
                    "type": "string",
                    "description": "IANA timezone string. Limits always reset at midnight of the timezone specified. If no timezone is specified, then UTC time is used."
                  },
                  "limitAmount": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  },
                  "preset": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly",
                      "yearly",
                      "collective"
                    ]
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Format ISO-8601. A day that equals today or the past. This is optional.If the `preset` is \"daily\", this value is ignored. If the `preset` is \"weekly\", \"monthly\" or \"yearly\", then the this value is used to compute when the limit should start limit."
                  }
                }
              },
              "utilizationLimitV2": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timezone": {
                      "type": "string",
                      "description": "IANA timezone string. Limits always reset at midnight of the timezone specified. If no timezone is specified, then UTC time is used."
                    },
                    "limitAmount": {
                      "$ref": "#/components/schemas/Money",
                      "x-entrypoint": {
                        "virtualPath": "schemas/Money",
                        "sourcePath": "schemas/Money.yaml",
                        "title": "Money",
                        "origin": "./src/publicApi"
                      }
                    },
                    "preset": {
                      "type": "string",
                      "enum": [
                        "daily",
                        "weekly",
                        "monthly",
                        "yearly",
                        "collective"
                      ]
                    },
                    "startDate": {
                      "type": "string",
                      "description": "Format ISO-8601. A day that equals today or the past. This is optional.If the `preset` is \"daily\", this value is ignored. If the `preset` is \"weekly\", \"monthly\" or \"yearly\", then the this value is used to compute when the limit should start limit."
                    }
                  }
                }
              },
              "transactionSizeLimit": {
                "type": "object",
                "properties": {
                  "minimum": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  },
                  "maximum": {
                    "$ref": "#/components/schemas/Money",
                    "x-entrypoint": {
                      "virtualPath": "schemas/Money",
                      "sourcePath": "schemas/Money.yaml",
                      "title": "Money",
                      "origin": "./src/publicApi"
                    }
                  }
                }
              }
            }
          },
          "countryRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "countries": {
                "description": "A 2 digit country code",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            }
          },
          "merchantCategoryCodeRule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "merchantCategoryCodes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "restriction": {
                "$ref": "#/components/schemas/Restriction",
                "x-entrypoint": {
                  "virtualPath": "schemas/Restriction",
                  "sourcePath": "schemas/Restriction.yaml",
                  "title": "Restriction",
                  "origin": "./src/publicApi"
                }
              }
            }
          }
        },
        "x-entrypoint": {
          "virtualPath": "schemas/PartialSpendingConstraint",
          "sourcePath": "schemas/PartialSpendingConstraint.yaml",
          "title": "PartialSpendingConstraint",
          "origin": "./src/publicApi"
        },
        "title": "PartialSpendingConstraint"
      },
      "CardGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "virtualAccountId": {
            "type": "string",
            "description": "The ID of the virtual account that the card group is associated with"
          },
          "spendingConstraint": {
            "$ref": "#/components/schemas/SpendingConstraint",
            "x-entrypoint": {
              "virtualPath": "schemas/SpendingConstraint",
              "sourcePath": "schemas/SpendingConstraint.yaml",
              "title": "SpendingConstraint",
              "origin": "./src/publicApi"
            }
          }
        },
        "required": [
          "id",
          "name"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/CardGroup",
          "sourcePath": "schemas/CardGroup.yaml",
          "title": "CardGroup",
          "origin": "./src/publicApi"
        },
        "title": "CardGroup"
      },
      "CardProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        },
        "required": [
          "id",
          "prefix",
          "status"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/CardProduct",
          "sourcePath": "schemas/CardProduct.yaml",
          "title": "CardProduct",
          "origin": "./src/publicApi"
        },
        "title": "CardProduct"
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "archivedAt": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL that will receive the webhook payload"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook"
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint:\n- `active`: The webhook is enabled and receiving events normally.\n- `paused`: The webhook has been paused by the user. Events are queued and will be delivered when the endpoint is set back to `active`.\n- `backing-off`: The system is temporarily backing off due to delivery failures. Delivery will be automatically retried at `backingOffUntil`. You can also immediately re-enable by setting status to `active` via the PATCH endpoint.\n- `disabled`: The webhook has been automatically disabled due to repeated delivery failures. Re-enable by setting status to `active` via the PATCH endpoint.\n",
            "enum": [
              "active",
              "paused",
              "backing-off",
              "disabled"
            ]
          },
          "pausedAt": {
            "type": "string",
            "description": "When the endpoint was paused by the user (ISO 8601 timestamp)"
          },
          "backingOffUntil": {
            "type": "string",
            "description": "When the system will automatically retry delivery (ISO 8601 timestamp). Only present when status is `backing-off`."
          },
          "disabledAt": {
            "type": "string",
            "description": "When the endpoint was automatically disabled due to repeated failures (ISO 8601 timestamp). Only present when status is `disabled`."
          },
          "enabledEvents": {
            "type": "array",
            "description": "Public webhook event types this endpoint receives. Omitted means all events.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "createdAt",
          "url",
          "name",
          "status"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/Webhook",
          "sourcePath": "schemas/Webhook.yaml",
          "title": "Webhook",
          "origin": "./src/publicApi"
        },
        "title": "Webhook"
      },
      "Merchant": {
        "title": "Merchant",
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "x-entrypoint": {
          "virtualPath": "schemas/Merchant",
          "sourcePath": "schemas/Merchant.yaml",
          "title": "Merchant",
          "origin": "./src/publicApi"
        }
      },
      "MerchantCategory": {
        "title": "MerchantCategory",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "x-entrypoint": {
          "virtualPath": "schemas/MerchantCategory",
          "sourcePath": "schemas/MerchantCategory.yaml",
          "title": "MerchantCategory",
          "origin": "./src/publicApi"
        }
      },
      "DeveloperApplication.DeveloperApplicationModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "developerAccountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DeveloperApplication.DeveloperApplicationStatus",
            "x-entrypoint": {
              "virtualPath": "schemas/DeveloperApplication/DeveloperApplicationStatus",
              "sourcePath": "schemas/DeveloperApplication/DeveloperApplicationStatus.yaml",
              "title": "DeveloperApplicationStatus",
              "origin": "./src/publicApi"
            }
          },
          "type": {
            "$ref": "#/components/schemas/DeveloperApplication.DeveloperApplicationType",
            "x-entrypoint": {
              "virtualPath": "schemas/DeveloperApplication/DeveloperApplicationType",
              "sourcePath": "schemas/DeveloperApplication/DeveloperApplicationType.yaml",
              "title": "DeveloperApplicationType",
              "origin": "./src/publicApi"
            }
          },
          "data": {
            "$ref": "#/components/schemas/DeveloperApplication.DeveloperApplicationData",
            "x-entrypoint": {
[...]
